Repository dolevoper/int-fullstack-june-23, changes with the owners that CODEOWNERS names for each.
All owners: @dolevoper, @GiliEllen, @Internet211111, @L1avZh

class 13 homework fixes
  student-projects/lilach-elayza/module-II/class-013-17-08-2023/home-project/guess-my-numbers/app.ts
Owners: @dolevoper

remove notes.md
  student-projects/lilach-elayza/notes.md
Owners: @dolevoper

homework
  student-projects/Liav/module-2/class-003-project/groupwork/app.ts
  student-projects/Liav/module-2/class-003-project/homework/ap.ts
  student-projects/Liav/module-2/class-003-project/homework/index.html
Owners: @L1avZh

class 14 homework guess my numbers
  student-projects/lilach-elayza/module-II/class-014-21-08-2023/class-project/app.ts
  student-projects/lilach-elayza/module-II/class-014-21-08-2023/class-project/git-workflow.md
  student-projects/lilach-elayza/module-II/class-014-21-08-2023/class-project/index.html
  student-projects/lilach-elayza/module-II/class-014-21-08-2023/home-project/guess-my-numbers/app.ts
  student-projects/lilach-elayza/module-II/class-014-21-08-2023/home-project/guess-my-numbers/index.html
Owners: @dolevoper

ver_1
  student-projects/meir/class_014/Average/js/scripts.ts
  student-projects/meir/class_014/GuessMyNumbers/index.html
  student-projects/meir/class_014/GuessMyNumbers/js/scripts.ts
  student-projects/meir/class_014/checkValidNum/js/scripts.ts
Owners: @Internet211111

ver_2
  student-projects/meir/class_014/GuessMyNumbers/index.html
Owners: @Internet211111

ver_3
  student-projects/meir/class_014/GuessMyNumbers/index.html
  student-projects/meir/class_014/GuessMyNumbers/js/scripts.ts
Owners: @Internet211111

a commit
  student-projects/Yotam/basicts/loop.html
  student-projects/Yotam/basicts/loop.ts
Owners: @dolevoper

new-folder
  student-projects/ron-mauda/ron/javaScript/lesson-13/class-work13/rrr.html
  student-projects/ron-mauda/ron/javaScript/lesson-13/class-work13/rrr.ts
  student-projects/ron-mauda/ron/javaScript/lesson-13/homework-13/homework13.html
  student-projects/ron-mauda/ron/javaScript/lesson-13/homework-13/homework13.ts
Owners: @dolevoper

edna
  student-projects/eden/CLASS14/app.ts
  student-projects/eden/CLASS14/index.html
  student-projects/eden/class12/java/index.html
  student-projects/eden/class13 17.8/app.ts
  student-projects/eden/class13 17.8/index.html
  student-projects/eden/project/2222.jpg
  student-projects/eden/project/9129-pelvic-inflammatory-disease-pid.jpg
  student-projects/eden/project/ME.jpg
  student-projects/eden/project/about me.html
  student-projects/eden/project/asaf.html
  student-projects/eden/project/eden-as.html
  student-projects/eden/project/flex.css
  student-projects/eden/project/form.css
  student-projects/eden/project/form.html
  student-projects/eden/project/fqa.html
  student-projects/eden/project/me and as.html
  student-projects/eden/project/myjourny.css
  student-projects/eden/project/reaching-out-logo.jpg
  student-projects/eden/project/style.css
  student-projects/eden/project/styles2.css
  student-projects/eden/project/test.scss
Owners: @dolevoper

index-new
  student-projects/ron-mauda/javaScript/lesson-14(21.08)/class-014-21-08-2023/index.html
Owners: @dolevoper

new
  student-projects/ron-mauda/javaScript/lesson-14(21.08)/class-014-21-08-2023/index.html
Owners: @dolevoper

new-folder
  student-projects/ron-mauda/javaScript/ron/html-css/homework-12/js/index.html
  student-projects/ron-mauda/javaScript/ron/html-css/homework-5/basic-form-style.scss
  student-projects/ron-mauda/javaScript/ron/html-css/homework-5/basic-form.html
  student-projects/ron-mauda/javaScript/ron/html-css/homework-5/card.new.css
  student-projects/ron-mauda/javaScript/ron/html-css/homework-5/card.new.html
  student-projects/ron-mauda/javaScript/ron/html-css/homework-6/flexible flow.html
  student-projects/ron-mauda/javaScript/ron/html-css/homework-6/flexible.css
  student-projects/ron-mauda/javaScript/ron/html-css/homework-6/reference-style.scss
  student-projects/ron-mauda/javaScript/ron/html-css/homework-6/text-reference.html
  student-projects/ron-mauda/javaScript/ron/html-css/homework-index-8/assets/clock-four-thirty-svgrepo-com.svg
  student-projects/ron-mauda/javaScript/ron/html-css/homework-index-8/assets/customize-svgrepo-com.svg
  student-projects/ron-mauda/javaScript/ron/html-css/homework-index-8/assets/upgrade-svgrepo-com.svg
  student-projects/ron-mauda/javaScript/ron/html-css/homework-index-8/courses.html
  student-projects/ron-mauda/javaScript/ron/html-css/homework-index-8/courses.scss
  student-projects/ron-mauda/javaScript/ron/html-css/homework-index-8/forum.html
  student-projects/ron-mauda/javaScript/ron/html-css/homework-index-8/grid.scss
  student-projects/ron-mauda/javaScript/ron/html-css/homework-index-8/index.html
  student-projects/ron-mauda/javaScript/ron/html-css/homework-index-8/index.scss
  student-projects/ron-mauda/javaScript/ron/html-css/homework-index-8/settings.html
  student-projects/ron-mauda/javaScript/ron/html-css/homework-index-8/style.scss
  student-projects/ron-mauda/javaScript/ron/html-css/homework7/cards-gallery.html
  student-projects/ron-mauda/javaScript/ron/html-css/homework7/flex-style.scss
  student-projects/ron-mauda/javaScript/ron/html-css/homework7/menu.html
  student-projects/ron-mauda/javaScript/ron/html-css/homework7/menu.scss
  student-projects/ron-mauda/javaScript/ron/javaScript/lesson-13/class-work13/rrr.html
  student-projects/ron-mauda/javaScript/ron/javaScript/lesson-13/class-work13/rrr.ts
  student-projects/ron-mauda/javaScript/ron/javaScript/lesson-13/homework-13/homework13.html
  student-projects/ron-mauda/javaScript/ron/javaScript/lesson-13/homework-13/homework13.ts
Owners: @dolevoper

class-work14
  student-projects/ron-mauda/javaScript/lesson-14(21.08)/app.html
  student-projects/ron-mauda/javaScript/lesson-14(21.08)/app.ts
Owners: @dolevoper

removed unnecessary debug logs.
  student-projects/gilad/javascript-projects/js-magic-number-remastered/app.ts
Owners: @dolevoper

class 14 homework part 2
  student-projects/lilach-elayza/module-II/class-014-21-08-2023/home-project/average-grade-calculator/app.ts
  student-projects/lilach-elayza/module-II/class-014-21-08-2023/home-project/average-grade-calculator/index.html
Owners: @dolevoper

Class 14 solution with difficulty object
  student-projects/gilad/javascript-projects/js-magic-number-remastered/app.ts
  student-projects/gilad/javascript-projects/js-magic-number-remastered/screen-templates.ts
Owners: @dolevoper

testGit
  student-projects/meir/git-workflow.txt
  student-projects/meir/gitTest.html
Owners: @Internet211111

gitTest
  student-projects/meir/gitTest.html
Owners: @Internet211111

finish class project
  .vscode/settings.json
  student-projects/yizhak/module-II/for loop/app.ts
  student-projects/yizhak/module-II/for loop/index.html
Owners: @dolevoper

home work prosess
  student-projects/Elad/class-014/app.ts
Owners: @dolevoper

elad_home_work
  student-projects/Elad/class-014/app.ts
Owners: @dolevoper

try to do homework
  student-projects/yizhak/module-II/for loop/app.ts
  student-projects/yizhak/module-II/homework-14/app.ts
  student-projects/yizhak/module-II/homework-14/index.html
Owners: @dolevoper

013
  student-projects/Ayala-perlovich/practice-013/app.ts
  student-projects/Ayala-perlovich/practice-013/index.html
Owners: @dolevoper

CODEOWNERS:

* @dolevoper

practices @GiliEllen

/student-projects/meir/ @Internet211111

student-projects/Liav @L1avZh
